@import "tailwindcss";

@theme {
  --text-xs: 12px;
  --color-bluish-purple-100: #c3c0e7;
  --color-bluish-purple-500: #7859f4;
  --color-bluish-purple-700: #6347d3;
  --animate-grow: grow 500ms;
}

@keyframes grow {
  0% {
    scale: 92%;
  }
  100% {
    scale: 100%;
  }
}